.profile-container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #b6c3ca;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 8px;
}

.display-profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website {
  width: 180px;
}

.star-img {
  height: 15px;
}

.delete-icon {
  height: 20px;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .profile-container {
    margin-right: 10px;
  }
}

.lite-orange {
  background-color: #f59e0b;
}
.green {
  background-color: #10b981;
}
.orange {
  background-color: #f97316;
}
.lite-green {
  background-color: #14b8a6;
}
.red {
  background-color: #b91c1c;
}
.lite-blue {
  background-color: #0ea5e9;
}
.grey {
  background-color: #64748b;
}
